/* #calendar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

h1 {
  text-align: center;
}

.month-container {
  width: 300px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
}  

.month-header {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}


.weekdays-row {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-weight: bold;
  font-size: 12px;
}


.weekday {
  padding: 3px;
}


.days-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

/* Empty slots before first day */
/* .empty-slot {
  visibility: hidden;
} */
/* #close-popup {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  color: #333;
} */
/* .brand {
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .logo {
  height: 132px;
} */
/* @media screen and (max-width: 768px) {
  .logo {
    height: 60px; /
  }

  .brand {
    justify-content: flex-start;
    gap: 15px;
  } 
} */
/* #close-popup:hover {
  color: #ff0000;
} */

/* .day-btn {
  width: 32px;
  height: 32px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  transition: all 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ebebeb;
} */

/* .day-btn:hover {
  opacity: 0.5;
} */

/* Selected date */
/* .day-btn.selected {
  background-color: #4caf50;
  color: white;
  font-weight: bold;
} */
/* .hamburger-btn {
  position: fixed;
  top: 30px;
  right: 1%;
  font-size: 24px;
  background: none;
  border: none;
  color: #333;
  cursor: pointer;
  z-index: 1001;
} */

/* .popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9;
} */
/* .popup {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 300px;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 10;
} */

/* .popup-content {
  text-align: center;
} */
/* input[type="file"] {
  display: none;
} */

/* .upload-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* .upload-label {
  background-color: #4caf50;
  color: white;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 8px;
  text-align: center;
} */

/* #file-name {
  font-size: 0.9rem;
  color: #444;
} */
/* .slot-options {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 10px;
  margin: 10px 0;
} */
/* .score {
  font-size: 2.5rem;
  font-weight: bold;
  color: #4caf50;
  margin: 10px 0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
} */
/* .score-link {
  font-size: 1rem;
  color: #007bff;
  text-decoration: underline;
  display: inline-block;
  margin-top: 10px;
} */
/* .slot-btn {
  padding: 8px;
  border: none;
  background: #f0f0f0;
  cursor: pointer;
  width: 52px;
  height: 42px;
} */
/* .slot-btn.active {
  background-color: #4caf50;
  color: white;
  font-weight: bold;
} */

/* .level-1 {
  background-color: #b4ec18;
}

.level-2 {
  background-color: #4bdd4b;
}
.level-3 {
  background-color: #088908;
  color: #53db72;
} */

/* table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 40px;
}

th,
td {
  border: 1px solid #bbb;
  padding: 8px 12px;
  text-align: center;
}

th {
  background: #333;
  color: #fff;
}

tbody tr:nth-child(even) {
  background: #eee;
} */
