*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background: #0f1419;
  color: #fff;
}

h1 {
  text-align: center;
}
button {
  cursor: pointer;
  border: none;
  background: none;
  color: #fff;
}

button:focus,
.day-btn:focus {
  outline: none;
}
.hidden {
  display: none !important;
}
a {
  color: #fff;
  text-decoration: none;
}
