#calendar {
  max-width: calc(4 * 140px);
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(3, auto);
  gap: 1.5rem;
  margin: 2rem auto;
  justify-content: center;
  align-items: start;
}

.month-group {
  display: flex;
  flex-direction: column;
}

.days-grid {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(7, 1fr);
  gap: 1px;
}

.day-btn {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  text-align: center;
  color: #9b9b9b;
  background: #ededed;
  box-sizing: border-box;
  line-height: 1;
  cursor: pointer;
  transition: opacity 0.2s;
}

.day-btn:hover {
  opacity: 0.5;
}

.day-btn.selected {
  background-color: var(--color-primary);
  color: white;
  font-weight: bold;
}

.day-btn.empty {
  visibility: hidden;
  pointer-events: none;
  background: transparent;
  border: none;
}

.level-1,
.level-2,
.level-3 {
  background-color: #088908;
  color: #edf1ee;
  font-weight: bold;
}

.fail-day {
  position: relative;
}

.fail-day::after,
.fail-day::before {
  content: "";
  position: absolute;
  width: 60%;
  height: 2px;
  background: rgb(189 92 92 / 70%);
  top: 55%;
  left: 8px;
  transform-origin: center;
  pointer-events: none;
}
.fail-day::after {
  transform: rotate(45deg);
}
.fail-day::before {
  transform: rotate(-45deg);
}

/* Responsive layout tweaks */
@media (max-width: 1024px) {
  #calendar {
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4, auto);
    max-width: calc(3 * 140px);
  }
}
@media (max-width: 764px) {
  #calendar {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(6, auto);
    max-width: calc(2 * 140px);
  }
}
@media (max-width: 600px) {
  #calendar {
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(12, auto);
    max-width: calc(1 * 140px);
  }
}
